*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	height: 100vh;
}

header{
	height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

img{
	height: 100%;
}

h1{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
form{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
button, select{
	font-size: 20px;
	margin: 1rem;
	padding: 0.5rem;
	text-align: center;
}

.container {
	display: flex;
	height: 90vh;
	background-color: black;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 700px;
    aspect-ratio: 1;
	border: 2px solid white;
	color: white;
}

.play-text{
	text-align: center;
	margin: auto;
}

.cell {
	border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
	color: white;
}

.ten{
	height: calc(100% / 10);
	width: calc(100% / 10);
}

.nine{
	height: calc(100% / 9);
	width: calc(100% / 9);
}

.seven{
	height: calc(100% / 7);
	width: calc(100% / 7);
}
.sq {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.cell.active {
	background-color: rgb(136, 0, 255);
}
.none{
	display: none;
}