*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	height: 100vh;
}

header{
	height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

img{
	height: 100%;
}

h1{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	height: 90vh;
	background-color: rgb(114, 230, 250);
}

.grid {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 700px;
    aspect-ratio: 1;
	border: 2px solid black;
}

.cell {
	border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ten{
	height: calc(100% / 10);
	width: calc(100% / 10);
}

.nine{
	height: calc(100% / 9);
	width: calc(100% / 9);
}

.seven{
	height: calc(100% / 7);
	width: calc(100% / 7);
}
.sq {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell.active {
	background-color: rgb(136, 0, 255);
}